doctype html
html(lang="en")
  head
    title CryptoMissive
    script(src='dist/all.js' inline)
    link(rel='stylesheet' href='dist/main.css' inline)
    script(type='text/data' id='main_splash')
      link(rel='stylesheet' href='dist/main_splash.css' inline)
      div(id="password_wrapper")
        p This is a CryptoMissive
        div
          input(type='password' id='password' placeholder='password')
          button(id='submit') decrypt
        progress(max='100' value='0' id='progress')
        p(id='messages').
          Please enter a password.

  body
    h1 This is a CryptoMissive
    p You will need to do one of the following to read its contents:
    ul
      li Enable JavaScript in your current browser
      li Switch to a browser that supports JavaScript
